{# empty Twig template #}
{% extends 'mainBundle::layout.html.twig' %}
{% block content %}
    <div id="mainBody">
        <div class="container">
            <div class="row">



                <div id="sidebar" class="span3">
                    
                 <ul id="sideManu" class="nav nav-tabs nav-stacked">
                        <li class="subMenu open"><a> Gestion Produits </a>
                            <ul {% if ( app.session.get('x') == 5)or ( app.session.get('x') == 6)or ( app.session.get('x') == 7) or ( app.session.get('x') == 8) %}style="display:none"{% endif %}>
                                <li><a class="active" href="{{ path('afficherProduit') }}"><i class="icon-chevron-right"></i>Afficher</a></li>
                                <li><a href="{{ path('ajouterProduit') }}"><i class="icon-chevron-right"></i>Ajouter</a></li>
                                <li><a href="{{ path('modifierProduit') }}"><i class="icon-chevron-right"></i>Modifier</a></li>
                                <li><a href="{{ path('supprimerProduit') }}"><i class="icon-chevron-right"></i>Supprimer</a></li>
                            </ul>
                        </li>
                        <li class="subMenu"><a> Gestion Services </a>
                           <ul {% if ( app.session.get('x') == 1)or ( app.session.get('x') == 2)or ( app.session.get('x') == 3) or ( app.session.get('x') == 4) %}style="display:none"{% endif %}>
                                <li><a class="active" href="{{ path('afficherService') }}"><i class="icon-chevron-right"></i>Afficher</a></li>
                                <li><a href="{{ path('ajouterService') }}"><i class="icon-chevron-right"></i>Ajouter</a></li>
                                <li><a href="{{ path('modifierService') }}"><i class="icon-chevron-right"></i>Modifier</a></li>
                                <li><a href="{{ path('supprimerService') }}"><i class="icon-chevron-right"></i>Supprimer</a></li>												
                            </ul>
                        </li>
                </ul>
                </div>

                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('main_homepage') }}">Home</a> <span class="divider">/</span></li>
                        <li class="active">Afficher Produit</li>
                    </ul>
                    <h3> Afficher Service</h3>	
                    <div class="well">
                        <!--
                        <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                         </div>
                        <div class="alert fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                         </div>
                         <div class="alert alert-block alert-error fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                         </div> -->
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Date</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                            <tr>
                                <td> <img width="60" src="{{ asset('themes/images/products/4.jpg') }}" alt=""/></td>
                                <td>{{service.libelle}}</td>
                                <td>
                                 {{service.description}}
                                </td>
                                <td>{{service.Date|date("Y-m-d")}}</td>
                                
                               
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}