{% extends 'BackOfficeBundle::layout.html.twig' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Gestion des Reclamations
                <small>voir reclamations</small>
            </h1>

            <ol class="breadcrumb">

                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">voir Recalamations</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div id="slide" class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lire Reclamation</h3>

                            <div class="box-tools pull-right">
                                <a id="previous" href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                                <a id="next" href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="mailbox-read-info">
                                <h3 id="titre">{{reclamation.titre}}</h3>
                                <h5 id="email">From: {{reclamation.idmembre.email}}
                                    <span id="date" class="mailbox-read-time pull-right">{{ reclamation.date|date('d-m-Y')}}</span></h5>
                            </div>
                            <!-- /.mailbox-read-info -->


                            <div id="desc" class="mailbox-read-message">
                                {{ reclamation.description }}
                            </div>
                            <!-- /.mailbox-read-message -->
                        </div>
                        <!-- /.box-body -->

                        <form method="post" action="{{path('gestion_reclamation')}}">
                        <div class="box-footer">
                            <div class="pull-right">
                                
                                <button type="submit" name="repond" class="btn btn-default"><i class="fa fa-reply"></i> Repond</button>
                                <input id="id" name="id" hidden type="text" value="{{reclamation.id}}" >
                                <input id="mail" name="mail" type="text" hidden value="{{reclamation.idmembre.email}}">
                                <input id="subject" name="subject" type="text" hidden value="{{reclamation.titre}}">
                            </div>
                            <button id="supp" type="submit" name="supp" class="btn btn-default"><i class="fa fa-trash-o"></i> effacer</button>
                            <button type="submit" class="btn btn-default"><i class="fa fa-print"></i> Print</button>
                        </div>
                        <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->

                </div>


            </div>

        </section>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#next").click(function () {
                $.ajax({type: "POST", url: "{{path('ajax_reclamation1')}}", data: {id: $("#id").val()}, success: function (result) {
                        change(result);
                    }, error: function () {
                    }});
            });
            $("#previous").click(function () {
                $.ajax({type: "POST", url: "{{path('ajax_reclamation2')}}", data: {id: $("#id").val()}, success: function (result) {
                        change(result);
                    }, error: function () {
                    }});
            });
           
        });
        function toggleDiv() {
            var $div = $("#slide");
            $div.animate({
                left: "-" + $div.width() + "px"
            }, function () {
                $div.animate({left: "0px"});
            });
        }
        function change(result) {
            toggleDiv();
            var o = result[0];
            $("#titre").text(o.titre);
            $("#subject").text(o.titre);
            $("#date").text(o.date);
            $("#email").text(o.idmembre.email);
            $("#mail").val(o.idmembre.email);
            $("#desc").text(o.description);
            $("#id").val(o.id);
        }
    </script>

{% endblock %}