{# empty Twig template #}
{% extends 'mainBundle::layout.html.twig' %}
{% block content %}
    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                <div id="sidebar" class="span3">
                    {% set tot=0 %}
                    {% for produit in produits %}
                        {% set tot=tot+produit.prix %}
                    {% endfor %}
                    <div class="well well-small"><a id="myCart" href="{{ path('cart') }}"><img src="{{ asset('themes/images/ico-cart.png') }}" alt="cart">Panier : {{produits|length}} Produits<span class="badge badge-warning pull-right">{{tot}} DT</span></a></div>
                    
              
                    <br/>
                    <div class="thumbnail">
                        <img src="{{ asset('themes/images/products/panasonic.jpg') }}" alt="Bootshop panasonoc New camera"/>
                        <div class="caption">
                            <h5>Panasonic</h5>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div><br/>
                    <div class="thumbnail">
                        <img src="{{ asset('themes/images/products/kindle.png') }}" title="Bootshop New Kindel" alt="Bootshop Kindel">
                        <div class="caption">
                            <h5>Kindle</h5>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div><br/>
                    <div class="thumbnail">
                        <img src="{{ asset('themes/images/payment_methods.png') }}" title="Bootshop Payment Methods" alt="Payments Methods">
                        <div class="caption">
                            <h5>Payment Methods</h5>
                        </div>
                    </div>
                </div>
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('main_homepage') }}">Home</a> <span class="divider">/</span></li>
                        <li class="active"> PANIER</li>
                    </ul>
                    <h3>  PANIER [ <small>{{produits|length}} produits </small>]<a href="{{ path('main_homepage') }}" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continuer l'achat </a></h3>	
                    <hr class="soft"/>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Description</th>
                                <th>Quantité / Modifier</th>
                                <th>Prix unitaire</th>
                                <th>Prix total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set i=0 %}

                            {% for produit in produits %}

                                <tr class='prod'>
                                    <td> <img width="60" src="{{ asset('themes/images/products/8.jpg') }}" alt=""/></td>
                                    <td>
                                        <h4>{{produit.libelle}}</h4>
                                        {{produit.description}}
                                    </td>
                                    <td>
                                        <div class="input-append">
                                            <input class="span1" style="max-width:34px" value="{{paniers[i].quantite}}" min='1' type="number">
                                            <button  class="btn" type="button"><i class="icon-minus"></i></button>
                                            <button  class="btn" type="button"><i class="icon-plus"></i></button>
                                            <a class="btn btn-danger" href="{{ path('remove_product_panier',{'idmembre':1,'idproduit':produit.id}) }}" ><i class="icon-remove icon-white"></i></a>				
                                        </div>
                                    </td>                                    
                                    <td><p class="prixUnitaire">{{produit.prix}}</p></td>
                                    <td><p class="prixTotal">{{ produit.prix * paniers[i].quantite }}</p></td>
                                </tr>
                                {% set i= i+1 %}

                            {% endfor %}

                            <tr>
                                <td colspan="6" style="text-align:right"><strong>TOTAL </strong> </td>
                                <td class="label label-important" style="display:block"><strong id="total">{{tot}} DT</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="" class="btn btn-large"><i class="icon-arrow-left"></i> Continuer l'achat </a>
                    <a id='pay' href="{{ path('payer') }}" class="btn btn-large pull-right">Suivant <i class="icon-arrow-right"></i></a>

                </div>
            </div></div>
    </div>
{% endblock %} 
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        function total() {
            var total = 0;
            $(".prixTotal").each(function () {
                total = total + parseInt($(this).text(), 10);
            });
            $("#total").text(total+" DT");
            $(".badge").text(total+" DT");
            //$("#pay").attr("href",url);
        }
        function totalQuantite() {
            var unit = $(this).parent().parent().siblings().children(".prixUnitaire").text();
            $(this).parent().parent().siblings().children(".prixTotal").text(unit * quantite);
        }
        $(document).ready(function () {
            total();
            $('.btn:has(> i.icon-minus)').click(function () {
                var quantite = $(this).siblings('.span1').val() - 1;
                if (quantite > 0) {
                    $(this).siblings('.span1').val(quantite);
                    var unit = $(this).parent().parent().siblings().children(".prixUnitaire").text();
                    $(this).parent().parent().siblings().children(".prixTotal").text(unit * quantite);
                }
                total();
            });
            $('.btn:has(> i.icon-plus)').click(function () {
                var quantite = parseInt($(this).siblings('.span1').val(), 10) + 1;
                $(this).siblings('.span1').val(quantite);
                var unit = $(this).parent().parent().siblings().children(".prixUnitaire").text();
                $(this).parent().parent().siblings().children(".prixTotal").text(unit * quantite);
                total();
            });
            $('.span1').change(function () {
                var unit = $(this).parent().parent().siblings().children(".prixUnitaire").text();
                $(this).parent().parent().siblings().children(".prixTotal").text(unit * $(this).val());
                total();
            });
        });
    </script>
{% endblock %}    